.header {
	background: linear-gradient(0deg, rgba(#98c3e8, .2) 28.39%, rgba(152, 195, 232, 0) 100%);
	overflow: hidden;

	&__content {
		position: relative;
		display: flex;
		align-items: center;

		height: 100vh;

		background-position: right;
		background-repeat: no-repeat;
	}

	&__title {
		color: var(--color-blue-dark); // TASK FONT

		max-width: 550px;
		margin-bottom: 32px;
		
		font-size: 64px;
		font-family: serif;

		@media (max-width: 476px) {
			font-size: 40px;
		}
	}

	p {
		color: var(--color-blue-dark);

		max-width: 425px;
		margin-bottom: 71px;

		font-size: 16px;
		line-height: 162%;
		letter-spacing: 0.05em;

		opacity: 0.6;
	}

	&__image {
		position: absolute;
		right: -25%;
		z-index: -1;

		@media (max-width: 875px) {
			bottom: 0;
		}
		@media (max-width: 700px) {
			bottom: -10%;
		}
	}
}