@font-face {
	font-family: "Gilroy";
	src: url('./../../public/fonts/Gilroy/Gilroy-Bold.ttf') format('.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url('./../../public/fonts/Gilroy/Gilroy-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}