:root {
	--container-width: calc(940px + 30px);
	--container-padding: 0 15px;

	--color-blue: #5A98D0;
	--color-blue-dark: #1F3F68;
	--color-white: #fff;

	--accent-color: var(--color-blue);

	--button-bg-color: var(--color-blue);
}